[Unit]
Description=ORM LDAP Delegate Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'exec /usr/bin/python /opt/OpenResourceManager/LdapDelegate/LdapDelegate start'
ExecStop=/bin/bash -c 'exec /usr/bin/python /opt/OpenResourceManager/LdapDelegate/LdapDelegate stop'
WorkingDirectory=/opt/OpenResourceManager/LdapDelegate
PIDFile=/var/run/ldap-delegate.pid
Restart=on-failure
RestartSec=2

[Install]
WantedBy=sysinit.target
Alias=ldapDelegate.service