[Unit]
Description=ORM LDAP Delegate Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/python /opt/OpenResourceManager/LdapDelegate/LdapDelegate.py start
ExecStop=/usr/bin/python /opt/OpenResourceManager/LdapDelegate/LdapDelegate.py stop
WorkingDirectory=/opt/OpenResourceManager/LdapDelegate
PIDFile=/var/run/ldap-delegate.pid
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
Alias=ldapDelegate.service