[Unit]
Description=ORM LDAP Delegate Service
After=multi-user.target
After=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/OpenResourceManager/LdapDelegate/LdapDelegate
Restart=on-error
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ldap-delegate

[Install]
WantedBy=multi-user.target