[Unit]
Description=ORM LDAP Delegate Service
After=multi-user.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/OpenResourceManager/LdapDelegate/LdapDelegate
Restart=on-error
RestartSec=2
StandardOutput=/var/log/orm/LdapDelegate/run.log
StandardError=/var/log/orm/LdapDelegate/error.log

[Install]
WantedBy=multi-user.target